body{
    height:100%;
    width:100%;
    background-color:#c70707;
    background-image:url(../../assets/clinic.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    color:#000000;
    position:absolute;
}  

.floating-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.horarios-floating-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/time.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horarios-text{
    position:fixed;
    top:170px;
    right:16px;
}

.floating-button-3 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floating-button-4 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }