body{
    height:100%;
    width:100%;
    background-color:#c70707;
    background-image:url(../../assets/clinic.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    color:#000000;
    position:absolute;
    display: flex;
    align-items:center;
    justify-content:center;
}  

.profile-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    max-width: 900px;
    width: 100%;
}
.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.profile-images {
    display: flex;
    align-items: center;
}
.profile-img, .dni-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    margin-right: 15px;
    animation: slideIn 1s ease-in-out;
}
h1 {
    color: #343a40;
    margin: 0;
}
.profile-info {
    flex: 1;
}
.profile-section {
    margin-bottom: 30px;
}
h3 {
    color: #343a40;
    margin-bottom: 15px;
}
.section-content {
    display: flex;
    align-items: center;
}
.section-content img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.info-container {
    display: flex;
    flex-direction: column;
}
.info-container h4 {
    margin-bottom: 10px;
    color: #343a40;
}
.info-container p {
    margin: 0;
    color: #555;
}
.info-container button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.info-container button:hover {
    background-color: #0056b3;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.floating-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.horarios-floating-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/time.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horarios-text{
    position:fixed;
    top:170px;
    right:16px;
}

.floating-button-3 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floating-button-4 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }