.error {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  .error {
    background-color: #f8d7da;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

body {
    background: url('../../assets/clinic.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    flex: 1;
    margin: 13.05% auto;
}

.floating-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 140px; /* Increased button width */
    height: 140px; /* Increased button height */
    border-radius: 50%;
    background-color: #ff9999;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    background-image: url('../../assets/casa.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
