<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialistas y Pacientes</title>
</head>
<body>
    <div *ngIf="step == 1">
        <button class="btn-primary" style="margin-left:1%; margin-top:15%; position:absolute;
        " [routerLink]="['registro-admin']">Crear nueva cuenta de administrador</button>
            <button class="btn-primary" style="margin-left:1%; margin-top:17%; position:absolute; width:277px;
        " [routerLink]="['/mi-perfil']">Mi perfil</button>
                <button class="btn-primary" style="margin-left:1%; margin-top:19%; position:absolute; width:277px;
        " [routerLink]="['/solicitar-turno']">Solicitar turno</button>
                    <button class="btn-primary" style="margin-left:1%; margin-top:21%; position:absolute; width:277px;
        " [routerLink]="['/turnos']">Turnos</button>
        <button class="btn-primary" style="margin-left:1%; margin-top:25%; position:absolute; width:277px;" (click)="excel()">Excel Usuarios</button>
        <button class="btn-primary" style="margin-left:1%; margin-top:23%; position:absolute; width:277px;" (click)="datos()">Descarga de datos y estadísticas</button>
        <div class="container mt-5">
            <div class="animated-title">Sección Usuarios</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                [(ngModel)]="selected" (change)="onOptionChange($event)">
                <label class="form-check-label" for="inlineRadio1">Especialistas</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                [(ngModel)]="selected" (change)="onOptionChange($event)">
                <label class="form-check-label" for="inlineRadio2">Pacientes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
                [(ngModel)]="selected" (change)="onOptionChange($event)">
                <label class="form-check-label" for="inlineRadio3">Administradores</label>
            </div>
            <div class="card" *ngIf="selected === 'option1'">
                <div class="card-header">
                    Especialistas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Especialidad</th>
                                    <th scope="col">Segunda Especialidad</th>
                                    <th scope="col">Tercera Especialidad</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Validación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let especialista of especialistas">
                                    <td><img src="{{especialista.foto}}" class="table-img" alt="Foto"></td>
                                    <td>{{especialista.dni}}</td>
                                    <td>{{especialista.nombre}}</td>
                                    <td>{{especialista.apellido}}</td>
                                    <td>{{especialista.especialidad}}</td>
                                    <td>{{especialista.segundaEspecialidad}}</td>
                                    <td>{{especialista.terceraEspecialidad}}</td>
                                    <td>{{especialista.mail}}</td>
                                    <td>
                                        <button *ngIf="especialista.validado" class="btn btn-danger btn-activate" (click)="Activar(especialista, false)">Desactivar</button>
                                        <button *ngIf="!especialista.validado" class="btn btn-success btn-activate" (click)="Activar(especialista, true)">Activar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="selected === 'option2'">
                <div class="card-header">
                    Pacientes
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Perfil</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Obra Social</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Validado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paciente of pacientes">
                                    <td><img src="{{paciente.fotoPerfil}}" class="table-img" alt="Perfil"></td>
                                    <td>
                                        <img src="{{paciente.fotodni}}" class="table-img" alt="Foto DNI">
                                        {{paciente.dni}}
                                    </td>
                                    <td>{{paciente.nombre}}</td>
                                    <td>{{paciente.apellido}}</td>
                                    <td>{{paciente.obraSocial}}</td>
                                    <td>{{paciente.mail}}</td>
                                    <td>{{paciente.validado}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card" *ngIf="selected === 'option3'">
                <div class="card-header">
                    Administradores
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Perfil</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let admin of admins">
                                    <td><img src="{{admin.foto}}" class="table-img" alt="Perfil"></td>
                                    <td>
                                        {{admin.dni}}
                                    </td>
                                    <td>{{admin.nombre}}</td>
                                    <td>{{admin.apellido}}</td>
                                    <td>{{admin.mail}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div *ngIf="step == 2">
        <div class="container mt-5">
            <div class="animated-title">Descargar excel</div>
            <div class="row">
                <div class="col-md-4" *ngFor="let paciente of pacientes">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{paciente.fotoPerfil}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{paciente.nombre}} {{paciente.apellido}}</h5>
                          <button class="btn btn-primary" (click)="descargaExcel(paciente)">Descargar excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="step == 3">
        <div class="container mt-5">
            <div class="animated-title">Descarga de datos</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/log.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Log de ingresos al sistema</h5>
                            <button class="btn btn-success" (click)="logExcel()">Descargar excel</button>
                            <button class="btn btn-danger" (click)="logPDF()">Descargar PDF</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/docsol.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cantidad de turnos solicitados por médico</h5>
                            <button class="btn btn-success" (click)="turSolMedExcel()">Descargar excel</button>
                            <button class="btn btn-danger" (click)="turSolMedPDF()">Descargar PDF</button>
                            <button class="btn btn-primary" [routerLink]="['/grafico1']">Ver gráfico</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/docfin.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cantidad de turnos finalizados por médico</h5>
                            <button class="btn btn-success" (click)="turFinMedExcel()">Descargar excel</button>
                            <button class="btn btn-danger" (click)="turFinMedPDF()">Descargar PDF</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/calendar.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cantidad de turnos por día</h5>
                            <button class="btn btn-success" (click)="turXDiaExcel()">Descargar excel</button>
                            <button class="btn btn-danger" (click)="turXDiaPDF()">Descargar PDF</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../assets/esp.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cantidad de turnos por especialidad</h5>
                            <button class="btn btn-success" (click)="turXEspExcel()">Descargar excel</button>
                            <button class="btn btn-danger" (click)="turXEspPDF()">Descargar PDF</button>
                            <button class="btn btn-primary" [routerLink]="['/grafico1']">Ver gráfico</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="step == 5">
        <h1>test</h1>
        <div>
            <canvas id="pieChart" width="400" height="400"></canvas>
          </div>          
      </div>
    
</body>
<button class="floating-button" [routerLink]="['']"></button>
<button *ngIf="step >= 2" class="floating-button-2" (click)="volver()"></button>
</html>
